In [64]:
import pandas as pd
df=pd.read_csv("C:/apps/ml/datasets/titanic_train.csv")
df.head(2)

   PassengerId  Survived  Pclass                                               Name  ...     Ticket     Fare  Cabin  Embarked
0            1         0       3                            Braund, Mr. Owen Harris  ...  A/5 21171   7.2500    NaN         S
1            2         1       1  Cumings, Mrs. John Bradley (Florence Briggs Th...  ...   PC 17599  71.2833    C85         C

[2 rows x 12 columns]

In [65]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [66]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [67]:
df.drop(columns=['PassengerId','Name','SibSp','Parch','Ticket','Fare','Cabin'],inplace=True)

In [68]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Sex       891 non-null    object
 3   Age       714 non-null    float64
 4   Embarked  889 non-null    object
dtypes: float64(1), int64(2), object(2)
memory usage: 34.9+ KB

In [69]:
df.isnull().sum()

Survived      0
Pclass        0
Sex           0
Age         177
Embarked      2
dtype: int64

In [70]:
df['Age']=df['Age'].fillna(df['Age'].mean())
df['Age'].isnull().sum()

0

In [71]:
df['Embarked']=df['Embarked'].fillna('N')
df.isnull().sum()

Survived    0
Pclass      0
Sex         0
Age         0
Embarked    0
dtype: int64

In [72]:
df.head(2)

   Survived  Pclass     Sex   Age Embarked
0         0       3    male  22.0        S
1         1       1  female  38.0        C

In [73]:
from sklearn.preprocessing import LabelEncoder

encoder = LabelEncoder()
encoder.fit(df['Sex'])
labels = encoder.transform(df['Sex'])
df['Sex'] = labels
df['Sex']

0      1
1      0
2      0
3      0
4      1
      ..
886    1
887    0
888    0
889    1
890    1
Name: Sex, Length: 891, dtype: int32

In [74]:
from sklearn.preprocessing import LabelEncoder

encoder = LabelEncoder()
encoder.fit(df['Embarked'])
labels = encoder.transform(df['Embarked'])
df['Embarked'] = labels
df['Embarked']

0      3
1      0
2      3
3      3
4      3
      ..
886    3
887    3
888    3
889    0
890    2
Name: Embarked, Length: 891, dtype: int32

In [75]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Sex       891 non-null    int32
 3   Age       891 non-null    float64
 4   Embarked  891 non-null    int32
dtypes: float64(1), int32(2), int64(2)
memory usage: 28.0 KB

In [60]:
# titanic=df
titanic_data=titanic.data
titanic_df=pd.DataFrame(data=titanic_data, columns=titanic.feature_names)

AttributeError: 'DataFrame' object has no attribute 'data'

In [ ]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
scaler.flt()